{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "exclude": [
    "coverage/**",
    "cypress/**",
    "dist/**",
    "**/*.spec.ts",
    "src/main.ts",
    "src/test.ts",
    "**/*.conf.js",
    "src/app/app.module.ts",
    "src/app/app-routing.module.ts",
    "src/**/*.interface.ts",
    "src/**/interfaces/**/*.ts",
    "src/**/*.model.ts",
    "src/**/*.mock.ts",
    "src/polyfills.ts",
    "src/environments/**",
    "src/**/*.stub.ts",        
    "src/assets/**",
    "src/**/*.json",
    "src/**/*.scss",
    "src/**/*.css",
    "src/**/*.html",   
    "src/styles.scss",
    "src/favicon.ico",
    "src/index.html",
    "src/proxy.config.json",
    "cypress.config.ts",
    "jest.config.js",
    "setup-jest.ts",
    "test-config.helper.ts"
  ],
  "check-coverage": true,
  "branches": 80,
  "functions": 80,
  "lines": 80,
  "statements": 80
}
